.image{
    width: 400px;
    height: 300px;
    background-image: url(../images/haventrated.png);
}
.buttonBack{
    background-color: #9854F6;
    color: white;
    border:none;
    cursor: pointer;
    border-radius: 8px;
    width:122px;
    height: 40px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}