select{
  background-image: url(../images/arrow.png);
  background-repeat:no-repeat ;
  background-position: top 14px right 15px;
  
}
.selectBox option:first-child{
  display:none
 }
  .selectBox svg{
   display:none
  }
  
  @media (max-width: 414px){
    select{
      justify-content: center;
    }
    }