select{
  background-image: url(../images/arrow.png);
  background-repeat:no-repeat ;
  background-position: top 14px right 15px;
  
}

  .selectBox svg{
   display:none
  }
  
  @media (max-width: 450px){
    select{
      justify-content: center;
    }
    }